[Unit]
Description=Today direcotry creationism

[Service]
ExecStart=bash -c '~/dotfiles/bin/create-today-direcotry'
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
