absl-py==1.4.0
aenum==3.1.11
albumentations==1.3.0
alembic==1.9.1
antlr4-python3-runtime==4.11.1
anytree==2.8.0
appdirs==1.4.4
apsw==3.40.0.0
argh==0.26.2
astroid==2.13.2
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
autocommand==2.2.2
Automat==22.10.0
autopage==0.5.1
backcall==0.2.0
beautifulsoup4==4.11.1
binaryiotools==2021.0.3
blendmodes==2022
brackettree==0.2.5
Brotli==1.0.9
brotlicffi==1.0.9.2
btrfsutil==6.1.2
CacheControl==0.12.11
cachetools==5.2.1
cachy==0.3.0
cchardet==2.1.7
ccsm==0.9.14.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
cleo==2.0.1
click==8.1.3
cliff==4.1.0
clint==0.5.1
cmaes==0.9.1
cmd2==2.4.2
colorama==0.4.6
colorlog==6.7.0
commonmark==0.9.1
compizconfig-python==0.9.14.2
configobj==5.1.0.dev0
constantly==15.1.0
contextlib2==21.6.0
contourpy==1.0.6
coverage==6.5.0
crashtest==0.4.1
cryptography==38.0.4
css-parser==1.0.8
cssselect==1.2.0
cycler==0.11.0
Cython==0.29.33
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.6
distlib==0.3.6
distro==1.8.0
dnspython==2.2.1
docutils==0.19
dulwich==0.20.50
effdet @ git+https://github.com/rwightman/efficientdet-pytorch.git@b035355c128931a4dae8d6db9c247c18926ea7be
efficientnet-pytorch==0.7.1
et-xmlfile==1.1.0
evdev==1.6.0
executing==1.2.0
fastjsonschema==2.16.1
feedparser==6.0.10
filelock==3.9.0
fonttools==4.38.0
future==0.18.2
gimpformats==2022.0.1
google-auth==2.16.0
google-auth-oauthlib==0.4.6
greenlet==2.0.1
grpcio==1.51.1
hid-parser==0.0.3
hidapi==0.12.0.post2
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httpie==3.2.1
huggingface-hub==0.11.1
hyperlink==21.0.0
idna==3.4
ifaddr==0.2.0
imageio==2.24.0
importlib-metadata==6.0.0
incremental==22.10.0
inflate64==0.3.1
inflect==6.0.2
ipython==8.8.0
isort==5.11.4
jaraco.classes==3.2.3
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
jarowinkler==1.2.3
jedi==0.18.2
jeepney==0.8.0
joblib==1.2.0
jsonschema==4.14.0
jupyter-core==4.11.1
jupytext==1.14.1
keyring==23.11.0
kiwisolver==1.4.4
lark==1.1.5
lazy-object-proxy==1.9.0
lensfun==0.3.3
libmsym==0.2.4
lightdm-gtk-greeter-settings==1.2.2
lightgbm==3.3.4
lockfile==0.12.2
lxml==4.9.2
Mako==1.2.4
mallard-ducktype==1.0.2
mamba==0.11.2
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.0
mdurl==0.1.2
mean-average-precision @ git+https://github.com/bes-dev/mean_average_precision.git@c30ea439680416f600781022eb6f1f8032d88647
mechanize==0.4.8
meson==1.0.0
more-itertools==9.0.0
msgpack==1.0.4
multidict==6.0.3
multivolumefile==0.2.3
munch==2.5.0
nbformat==5.4.0
netifaces==0.11.0
netsnmp-python==1.0a1
networkx==3.0
nftables==0.1
nspektr==0.4.0
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python-headless==4.7.0.68
openpyxl==3.0.10
openslide-python==1.2.0
ordered-set==4.1.0
packaging==23.0
pandas==1.5.2
parso==0.8.3
pathtools==0.1.2
pbr==5.11.1
pdftotext==2.2.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip-review==1.3.0
pipenv==2022.12.19
pkginfo==1.9.5
platformdirs==2.6.2
ply==3.11
poetry==1.3.1
poetry-core==1.4.0
poetry-plugin-export==1.2.0
pretrainedmodels==0.7.4
prettytable==3.6.0
progress==1.6
prompt-toolkit==3.0.36
protobuf==3.9.2
psutil==5.9.4
ptflops==0.6.9
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
py7zr==0.20.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybcj==1.0.1
pybind11==2.10.3
pycairo==1.23.0
pychm==0.8.6
pycocotools==2.0.6
pycparser==2.21
pycryptodome==3.16.0
pycryptodomex==3.12.0
pydantic==1.10.4
pydicom==2.3.1
Pygments==2.14.0
PyGObject==3.42.2
pyinotify==0.9.6
pylev==1.4.0
pylint==2.15.10
pynvim==0.4.3
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyperclip==1.8.2
pyppmd==1.0.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-sip==13.4.0
PyQt6-WebEngine==6.4.0
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-distutils-extra==2.39
python-magic==0.4.27
python-pam==2.0.2
python-xlib==0.31
pytz==2022.7
pyudev==0.24.0
PyWavelets==1.4.1
pyxdg==0.28
PyYAML==6.0
pyzstd==0.15.3
QtPy==2.3.0
qudida==0.0.4
rapidfuzz==2.13.7
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
resolvelib==0.9.0
retrying==1.3.3
rich==13.0.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.0
scipy==1.10.0
seaborn==0.12.2
SecretStorage==3.3.3
segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@c39de0cdc9638e2200435e52e9dd84469835081a
setproctitle==1.3.2
sgmllib3k==1.0.0
shellingham==1.5.0.post1
sip==4.19.25
six==1.16.0
solaar==1.1.8
soupsieve==2.3.2.post1
SQLAlchemy==1.4.46
stack-data==0.6.2
stevedore==4.1.1
TBB==0.2
team==1.0
tenacity==8.1.0
tensorboard==2.11.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
texttable==1.6.7
threadpoolctl==3.1.0
tifffile==2022.10.10
timm==0.6.12
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
traitlets==5.8.1
trash-cli==0.22.10.20
trove-classifiers==2022.12.22
Twisted==22.10.0
typing_extensions==4.4.0
unrardll==0.1.5
urllib3==1.26.14
validate==5.1.0.dev0
validate-pyproject==0.10.1
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
watchdog==2.2.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
zeroconf==0.39.4
zipp==3.11.0
zope.interface==5.5.2
